@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Programacion";
}

<body style="background-color:black">
    <div class="container" style="color:white">
        <div class="row">
            <div class="col">
                <strong>Programa</strong>
                <table>
                    <tr>
                        <td>Batman Animado</td>
                    </tr>
                    
                    <tr>
                        <td>Pokemon</td>
                    </tr>
                    <tr>
                        <td>Dragon Ball Z</td>
                    </tr>
                    
                    <tr>
                        <td>Coraje el Perro Cobarde</td>
                    </tr>
                    
                    <tr>
                        <td>Ben 10</td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="col">
                <strong>Dias</strong>
                <table>
                    <tr>
                        <td>Lunes a Domingos</td>
                    </tr>
                    <tr>
                        <td>Lunes a Domingos</td>
                    </tr>
                    <tr>
                        <td>Lunes a Domingos</td>
                    </tr>
                    <tr>
                        <td>Lunes a Domingos</td>
                    </tr>
                    <tr>
                        <td>Lunes a Domingos</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <strong>Horario</strong>
                <table>
                    <tr>
                        <td>14:00hs</td>
                    </tr>
                    <tr>
                        <td>12:00hs</td>
                    </tr>
                    <tr>
                        <td>08:30hs</td>
                    </tr>
                    <tr>
                        <td>10:00hs</td>
                    </tr>
                    <tr>
                        <td>21:00hs</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
